.bg-email {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  /* border: 1px black solid; */
  padding-left: 1%;
  /* transform: translate(10%, 50%); */
  z-index: 0;
  overflow: hidden;
}
.hand {
  animation: name duration timing-function delay iteration-count direction fill-mode;
  background-image: url(./Images/hand-icon.png);
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  left: 38%;
  top: 58%;
  width: 100%;
  height: 100%;
}
.mail {
  background-image: url(./Images/mail-icon.png);
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  left: 42%;
  top: 38%;
  width: 100%;
  height: 100%;
}
.email-loader-1 {
  background: linear-gradient(250deg, red, transparent 30%) 0 40%/100% 0.15rem repeat-x;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background-position-x: 13rem;
  height: 15px;
  left: 0%;
  position: absolute;
  top: 41%;
  /* transform: translate(0%, 50%); */
  width: 150px;
  z-index: 1;
}
.email-loader-2 {
  background: linear-gradient(250deg, blue, transparent 25%) 0 40%/100% 0.15rem repeat-x;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background-position-x: 13rem;
  height: 15px;
  left: 0%;
  position: absolute;
  top: 45%;
  /* transform: translate(0%, 50%); */
  width: 150px;
  z-index: 1;
}
.email-loader-3 {
  background: linear-gradient(250deg, green, transparent 20%) 0 40%/100% 0.15rem repeat-x;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  background-position-x: 13rem;
  height: 15px;
  left: 0%;
  position: absolute;
  top: 49%;
  /* transform: translate(0%, 50%); */
  width: 150px;
  z-index: 1;
}
.handmove {
  animation: handMove 0.35s linear 0s;
}
.effectmve {
  animation: effectMove 2.5s linear 0.35s;
}
.mailmove {
  animation: mailMove 2.25s linear 0.35s;
}
.interest1-ani {
  transition: opacity 0.75s ease, transform 0.75s ease;
  transform: translateX(0%);
}
.interest1-ani-rm {
  opacity: 0;
  transform: translateX(-50%);
}
.interest2-ani {
  transition: opacity 0.75s ease, transform 0.75s ease;
  transform: translateY(0%);
}
.interest2-ani-rm {
  opacity: 0;
  transform: translateY(50%);
}
.interest3-ani {
  transition: opacity 0.75s ease, transform 0.75s ease;
  transform: translateY(0%);
}
.interest3-ani-rm {
  opacity: 0;
  transform: translateY(-50%);
}
.interest4-ani {
  transition: opacity 0.75s ease, transform 0.75s ease;
  transform: translateX(0%);
}
.interest4-ani-rm {
  opacity: 0;
  transform: translateX(50%);
}
@keyframes effectMove {
  0% {
    transform: translateX(0%);
  }
  50.001% {
    transform: translateX(100%);
  }
  50.002% {
    transform: translateX(-100%);
  }
  92% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(-3%);
  }
  100% {
    /* background-position-x: 100rem; */
    transform: translateX(0%);
  }
}
@keyframes mailMove {
  0% {
    transform: translateX(0%);
  }
  50.001% {
    transform: translateX(100%);
  }
  50.002% {
    transform: translateX(-100%);
  }
  /* 92% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(-3%);
  } */
  100% {
    /* background-position-x: 100rem; */
    transform: translateX(0%);
  }
}
@keyframes handMove {
  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0%);
  }
}